* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

.price-offer {
  width: 100%;
  text-align: center;
  color: #ffff;
  background-color: #131212;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-offer p {
  margin-top: 0.5rem;
}
.navbar {
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 2px -2px rgb(172, 168, 168);
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #131212;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-right: 7rem;
  cursor: pointer;
  margin-top: 1rem;
}
.link-logo {
  text-decoration: none;
  color: #131212;
  font-weight: bolder;
  font-size: 2rem;
}
.a-links {
  text-decoration: none;
  color: #131212;
}
.login {
  max-width: 30%;
  cursor: pointer;
}
.sella {
  max-width: 40%;
  cursor: pointer;
}
.logo {
  margin-right: 2rem;
  cursor: pointer;
}
.navbar .fa {
  display: none; /* to diplay icons in the full screen */
}
/* details page styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  text-align: right;
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  max-width: 55%;
  border: 1px solid #131212;
  position: absolute;
  text-align: center;
  left: 10%;
  top: 15%;
  opacity: 0;
  padding: 0 3rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #c91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}
.cable-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}
.cart-btn {
  display: inline-block;
  background-color: #131212;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #131212c4;
}
/* footer,styling */
/* Footer  */
.footer-container {
  background-color: #131212;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  padding: 3rem;
}
.footer-container {
  width: 100%;
  margin-top: 2rem;
}

/* Break Points */
@media (max-width: 720px) and (min-width: 540px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .footer-container {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
  }
}
.footer-logo {
  font-weight: bold;
  font-size: 2rem;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    margin-top: 5rem;
    width: 100%;
  }

  .left-column img {
    text-align: center;
    margin: 0 3rem 3rem 0;
    max-width: 100%;
    right: 0;
    top: -75px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    text-align: center;
    margin: 0 3rem 3rem 0;
    width: 220px;
    top: -85px;
  }
}
